.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-item-link {
    text-decoration: none;
    color: #FF0000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.7px;
    margin: 40px;
}
.nav-item {
    display: inline-block;
}
.navigation {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 26px;
}
.title {
    color:#373737;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.3px;
    margin: 50px auto;
}
.text {
    margin: 0 67px 30px;
    color: #373737;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.4px;
}
.btn {
    display: block;
    padding: 20px 0 20px 0;
    width: 191px;
    color: #fff;
    text-decoration: none;
    background-color: #FF0000;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 4px;
    letter-spacing: 1.8px;
    margin: 0 auto;
    margin-top: 66px;
}
.footer-text {
    text-align: end;
    margin: 82px 105px 30px;
    color: #373737;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.4px;
}

